<section id="contact" class="contact overflow-auto  paralax-mf bg-image position-relative p-5 ">
  <div class="container position-relative z-3 p-5">
      <div class="row mt-3 p-5">
        <div class="col-sm-12">
          <div class="title text-center mb-5">
            <h3 class="title-a text-center position-relative d-inline-block">Contact Us.</h3>
          </div>
          <div class="row gx-0">
            <div class="col-lg-4 mb-md-4">
              <div class="item ">
               <span class="icon"><i class="fa fa-location-arrow"></i></span>
               <h6 class="text-center">Address</h6>
               <p>6834 Hollywood Blvd - Los Angeles CA</p>
               </div>
            </div>

            <div class="col-lg-4 mb-md-4">
             <div class="item">
               <span class="icon"><i class="fa fa-envelope"></i></span>
               <h6 class="text-center">Email</h6>
               <p>Support@website.com</p>
             </div>
            </div>

            <div class="col-lg-4 mb-md-4">
             <div class="item">
               <span class="icon"><i class="fa fa-phone"></i></span>
               <h6 class="text-center">Phone</h6>
               <p>+20 010 2517 8918</p>
             </div>
            </div>
           </div>
           <form class="form  pt-5" >
             <div class="controls">
                 <div class="row">
                     <div class="col-lg-6">
                         <div>
                             <input type="text" name="name" placeholder="Name" required="required">
                         </div>
                     </div>

                      <div class="col-lg-6">
                         <div>
                             <input type="email" name="email" placeholder="Email" required="required">
                         </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-lg-12">
                         <div >
                             <textarea  name="message" placeholder="Message" rows="4" required="required"></textarea>
                         </div>

                         <button type="submit" value="Submit" class="btn btn-dark">submit</button>
                     </div>
                 </div>
             </div>
         </form>
        </div>
       </div>
     </div>

 </section>
