<section id="work" class="work p-5">
  <div class="container pt-5">
    <div class="row mb-5">
      <div class="col-sm-12">
        <div class="title text-center">
          <h3 class="title-a text-center position-relative d-inline-block">Portfolio.</h3>
        </div>
        <div class="tabs">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all-tab-pane" type="button" role="tab" aria-controls="all-tab-pane" aria-selected="true">All</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="Brand-tab" data-bs-toggle="tab" data-bs-target="#Brand-tab-pane" type="button" role="tab" aria-controls="Brand-tab-pane" aria-selected="false">Brand</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="Design-tab" data-bs-toggle="tab" data-bs-target="#Design-tab-pane" type="button" role="tab" aria-controls="Design-tab-pane" aria-selected="false">Design</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="Graphic-tab" data-bs-toggle="tab" data-bs-target="#Graphic-tab-pane" type="button" role="tab" aria-controls="Graphic-tab-pane" aria-selected="false" >Graphic</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">

            <div class="tab-pane fade show active" id="all-tab-pane" role="tabpanel" aria-labelledby="all-tab" tabindex="0">
              <div class="row gy-4">
                <div class="col-md-6 col-lg-4">
                  <div class="item position-relative overflow-hidden">
                    <img src="assets/img/38f165d2c8f6439c77f1289a8ffc1a5286e4fb12_18_1920_480x320.jpg" class="w-100" alt="port1">
                    <div class="overlay-item d-flex justify-content-center align-items-center">
                      <div class="item-overlay-contant">
                        <h6 class="">WEB DESIGN</h6>
                      <div class="icon-item  text-center">
                        <a href=""><i class="fa-solid fa-link text-white "></i></a>
                        <a href="" ><i class="fa-solid fa-magnifying-glass-plus text-white  "></i></a>
                     </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4">
                  <div class="item position-relative overflow-hidden">
                    <img src="assets/img/grove-museum-views-301_480x320.jpg" class="w-100" alt="port1">
                    <div class="overlay-item d-flex justify-content-center align-items-center">
                      <div class="item-overlay-contant">
                        <h6 class="">WEB DESIGN</h6>
                      <div class="icon-item  text-center">
                        <a href=""><i class="fa-solid fa-link text-white "></i></a>
                        <a href="" ><i class="fa-solid fa-magnifying-glass-plus text-white  "></i></a>
                     </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-lg-4">
                  <div class="item position-relative overflow-hidden">
                    <img src="assets/img/137.jpg" class="w-100" alt="port1">
                    <div class="overlay-item d-flex justify-content-center align-items-center">
                      <div class="item-overlay-contant">
                        <h6 class="">WEB DESIGN</h6>
                      <div class="icon-item  text-center">
                        <a href=""><i class="fa-solid fa-link text-white "></i></a>
                        <a href="" ><i class="fa-solid fa-magnifying-glass-plus text-white  "></i></a>
                     </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
            <div class="tab-pane fade" id="Brand-tab-pane" role="tabpanel" aria-labelledby="Brand-tab" tabindex="0">
              <div class="row gy-4">
                <div class="col-md-6 col-lg-4">
                  <div class="item position-relative overflow-hidden">
                    <img src="img/4.jpg" class="w-100" alt="port1">
                    <div class="overlay-item d-flex justify-content-center align-items-center">
                      <div class="item-overlay-contant">
                        <h6 class="">WEB DESIGN</h6>
                      <div class="icon-item  text-center">
                        <a href=""><i class="fa-solid fa-link text-white "></i></a>
                        <a href="" ><i class="fa-solid fa-magnifying-glass-plus text-white  "></i></a>
                     </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-md-6 col-lg-4">
                  <div class="item position-relative overflow-hidden">
                    <img src="assets/img/766130d0b83380b16f3d1fbcf42acc098fd22328_18_19203_480x320.jpg" class="w-100" alt="port1">
                    <div class="overlay-item d-flex justify-content-center align-items-center">
                      <div class="item-overlay-contant">
                        <h6 class="">WEB DESIGN</h6>
                      <div class="icon-item  text-center">
                        <a href=""><i class="fa-solid fa-link text-white "></i></a>
                        <a href="" ><i class="fa-solid fa-magnifying-glass-plus text-white  "></i></a>
                     </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4">
                  <div class="item position-relative overflow-hidden">
                    <img src="assets/img/img_14-new5_480x320.jpg" class="w-100" alt="port1">
                    <div class="overlay-item d-flex justify-content-center align-items-center">
                      <div class="item-overlay-contant">
                        <h6 class="">WEB DESIGN</h6>
                      <div class="icon-item  text-center">
                        <a href=""><i class="fa-solid fa-link text-white "></i></a>
                        <a href="" ><i class="fa-solid fa-magnifying-glass-plus text-white  "></i></a>
                     </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="Design-tab-pane" role="tabpanel" aria-labelledby="Design-tab" tabindex="0"><div class="row gy-4">
              <div class="col-md-6 col-lg-4">
                <div class="item position-relative overflow-hidden">
                  <img src="assets/img/img_14-new5_480x320.jpg" class="w-100" alt="port1">
                  <div class="overlay-item d-flex justify-content-center align-items-center">
                    <div class="item-overlay-contant">
                      <h6 class="">WEB DESIGN</h6>
                    <div class="icon-item  text-center">
                      <a href=""><i class="fa-solid fa-link text-white "></i></a>
                      <a href="" ><i class="fa-solid fa-magnifying-glass-plus text-white  "></i></a>
                   </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-6 col-lg-4">
                <div class="item position-relative overflow-hidden">
                  <img src="assets/img/Reem-hills-al-reem-island-abu-dhabi-images-143_480x320.jpg" class="w-100" alt="port1">
                  <div class="overlay-item d-flex justify-content-center align-items-center">
                    <div class="item-overlay-contant">
                      <h6 class="">WEB DESIGN</h6>
                    <div class="icon-item  text-center">
                      <a href=""><i class="fa-solid fa-link text-white "></i></a>
                      <a href="" ><i class="fa-solid fa-magnifying-glass-plus text-white  "></i></a>
                   </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="item position-relative overflow-hidden">
                  <img src="assets/img/AlJurf-Masterplan_480x320.jpg" class="w-100" alt="port1">
                  <div class="overlay-item d-flex justify-content-center align-items-center">
                    <div class="item-overlay-contant">
                      <h6 class="">WEB DESIGN</h6>
                    <div class="icon-item  text-center">
                      <a href=""><i class="fa-solid fa-link text-white "></i></a>
                      <a href="" ><i class="fa-solid fa-magnifying-glass-plus text-white  "></i></a>
                   </div>
                    </div>
                  </div>
                </div>
              </div>
            </div></div>
          </div>
       </div>
      </div>
    </div>



    </div>


</section>
