footer{
  background: #1c1c1c  !important;
  position: absolute;
  bottom: 0;
  width: 100%;
}
footer .copyright-box p {
  font-size: 13px;
  word-spacing: 2px;
  color: #748182 !important;
}
