<div class="w-75 m-auto pt-5">
  <div *ngIf="errormsg" class="alert alert-danger"><p>{{errormsg}}</p></div>

  <form [formGroup]='loginForm' (ngSubmit)="submitReigisterForm(loginForm)" class="pt-5">


    <div class="form-group my-3 pt-5">
      <label for="email">Email :</label>
      <input formControlName="email" class="form-control" type="email"  id="email">
      <div *ngIf="loginForm.get('email')?.errors != null && loginForm.get('email')?.touched" class="alert my-2 alert-danger">
        <p *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</p>
        <p *ngIf="loginForm.get('email')?.errors?.['email']">Email is invalid</p>
      </div>
    </div>

    <div class="form-group my-3">
      <label for="password">password :</label>
      <input formControlName="password" class="form-control" type="password"  id="password">
      <div *ngIf="loginForm.get('password')?.errors != null && loginForm.get('password')?.touched" class="alert my-2 alert-danger">
        <p *ngIf="loginForm.get('password')?.errors?.['required']">password is required</p>
        <p *ngIf="loginForm.get('password')?.errors?.['pattern']">password must start with uppercase..</p>
      </div>
    </div>
    <button [disabled]="loginForm.invalid" class="btn btn-info text-white" type="submit">Register</button>
  </form>
</div>
